.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: rem(10px);
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: rem(36px);
  height: rem(36px);
  text-align: center;
}
  


 

.icon {
  width: rem(30px);
  height: rem(30px);
  color:aqua;
  &:hover {
    color: orange;
  }
  }

