.team__section {
  height: 100vh;
  width: 100%;
}

.team__title {
  text-align: center;
  font-size: rem(48px);
  text-transform: uppercase;
  color:#292929;
  line-height: rem(52px);
  font-weight: 700;
  margin-top: rem(78px);
  margin-bottom: rem(54px);
}

.team__cards {
  display: flex;
  justify-content: space-between;
}