.delivery-section {
  background-color:#181818;
  height: 100vh;
  padding-top: rem(68px);
}

.section__title--white {
  color:#FFF ;
}

.delivery__title {
  font-size: rem(48px);
  font-weight: 700;
  line-height: rem(52px);
  text-transform: uppercase;
  margin-bottom: rem(60px);
  text-align: center;
  color:white;
}